# RewriteEngine On

# RewriteBase /haladrive/src/

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^cars/([^/]+)/?$ /haladrive/src/cars.php?slug=$1 [L,QSA]


RewriteEngine On
RewriteBase /

# Remove index.php access (optional but recommended)
RewriteCond %{THE_REQUEST} /index\.php
RewriteRule ^index\.php$ / [L,R=301]

# Rewrite /cars/slug → /src/cars.php?slug=xxx
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^cars/([^/]+)/?$ /cars.php?slug=$1 [L,QSA]
RewriteRule ^brands/([^/]+)/?$ /brands.php?slug=$1 [L,QSA]
RewriteRule ^lease/([^/]+)/?$ /lease.php?slug=$1 [L,QSA]
