@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

p {
    text-align: justify;
}

.string h1 strong{
    line-height: 1;
    font-size: 2rem;
    font-weight: 600;
}
.string h1 {
    line-height: 1;
    font-size: 2rem;
}
.string h2 strong,
.string h3 strong {
    line-height: 1;
    font-size: 1.8rem;
    font-weight: 600;
}
.string h4 strong,
.string h5 strong {
    line-height: 1;
    font-size: 1.4rem;
    font-weight: 600;
}
.string p{
    padding-block: 1rem;
}

.slider_image {
    width: 100%;
    height: 5rem;
    object-fit: contain;
}

.dropdown {
    width: 20rem;
}

.icon_dropdown{
    width: 1.5rem;
}

.swiper{
    direction: ltr;
}

html[dir="rtl"] .ar_header{
    flex-direction: row-reverse;
}
html[dir="rtl"] .ar_ml{
    margin-right: auto;
    margin-left: unset;
}
html[dir="rtl"] .ar_logo{
    right: 2.5rem;
    left: unset;
}
html[dir="rtl"] .before\:-left-3::before {
    left: unset;
    right: -0.75rem;
}